body{
    text-align: center;
    background-color: rgb(45, 40, 63);
}

.btn{
    height: 200px;
    width:200px;
    border-radius:20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display:flex;
    justify-content: center;
}

.yellow{
    background-color: rgb(231, 231, 110);
}

.red{
    background-color: rgb(167, 100, 100);
}

.purple{
    background-color: rgb(160, 119, 160);
}

.green{
    background-color: rgb(127, 170, 127);
}


.flash{
    background-color: beige;
}

.userflash{
    background-color: rgb(115, 115, 145);
}